*.s
*.[ofsL]
*.lo
*.la
*.bak
*.deps
*.orig
*.rej
*.subdirs
*~
*.pyc
*.aux
*.dvi
.cvsignore
.gmtcommands4
.gmtdefaults4
.libs
Makefile
Makefile.in
fort.*
semantic.cache
lclcnd.h
stamp-h*
Log
TreeID
a.out
gmon.out
/lib
/prog
/yms
/Rev
/.PackageID.m4
/HIST
/Makefile.am
/TAGS
/aclocal.m4
/aminclude.am
/autom4te.cache
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/icies/mkmkam*c
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/config.h
/config.h.in
/config.log
/config.status
/configure
/doc/r/coding.html
/doc/r/coding.pdf
/doc/snoopy/*.log
/doc/snoopy/notation.sty
/doc/tex/*.log
/doc/tex/*.pdf
/doc/three/*.fmt
/doc/three/*.log
/doc/three/*.pdf
/doc/three/_region_.tex
/doc/three/notation.sty
/etc/css/t
/etc/helper/*.sh
/etc/misc/*.mod
/etc/misc/ageni
/etc/misc/levopt
/etc/misc/zetani
/etc/obsolete/src/fugue/Makefile.am
/etc/test/patty/a.nc
/etc/test/patty/adv_bug.heino2d
/etc/test/patty/cfgerr.mb.heino2d
/etc/test/patty/grd
/etc/test/patty/midtest
/etc/test/patty/old.heino
/etc/test/patty/sav*
/etc/test/patty/symm[LMS]*
/etc/test/patty/test
/etc/test/patty/testSymm*
/etc/test/patty/tr8cdf2d
/etc/test/patty/tr8read
/etc/test/patty/trshort
/etc/test/patty/ts.*
/etc/test/patty/ts[IT][SN][MN]*
/icies*.tar.Z
/icies*.tar.bz
/icies*.tar.bz2
/icies*.tar.gz
/libtool
/run/sp/mismip/README.pdf
/run/sp/ssadiag/README.pdf
/run/var
/src/Makefile.am
/src/arpeggio/Makefile.am
/src/arpeggio/O
/src/arpeggio/acorms
/src/arpeggio/aedlra
/src/arpeggio/apoprt
/src/begleitung/Makefile.am
/src/begleitung/Makefile.in
/src/begleitung/begleitung.h
/src/cadenza/Makefile.am
/src/cadenza/cabcnv
/src/cadenza/caechk
/src/cadenza/cnx.sh
/src/cadenza/cnxseq
/src/cadenza/cvglst
/src/devel/*.serial
/src/devel/I
/src/devel/L
/src/devel/O
/src/devel/dev[a-z][a-z][a-z]_inc.F
/src/devel/devbst
/src/devel/devel
/src/devel/devfil
/src/devel/devlog
/src/devel/devmpi
/src/devel/devmpi.p*
/src/devel/libdevel-p*.a
/src/development/Makefile.am
/src/development/O
/src/development/danntr
/src/development/dbstrp
/src/development/ddroot
/src/development/denvms
/src/development/dfilms
/src/development/dlogms
/src/development/dmpims
/src/development/dmpims1
/src/development/dmpims2
/src/development/dvainc.F
/src/fugue/*.serial
/src/fugue/C
/src/fugue/F/
/src/fugue/FBW_meta
/src/fugue/FBW_var*
/src/fugue/FF/[DS][FU]
/src/fugue/FM.*
/src/fugue/FO.*
/src/fugue/FO_*.meta
/src/fugue/FO_*.var
/src/fugue/FP
/src/fugue/FV.*
/src/fugue/F[OM]_meta.*
/src/fugue/F[OM]_var.*
/src/fugue/Makefile.am
/src/fugue/O
/src/fugue/chkf
/src/fugue/fugcor
/src/fugue/fugcor.p*
/src/fugue/fugedl
/src/fugue/fugedl.p*
/src/fugue/fugmkt.serial.test2
/src/fugue/fugpro.p*
/src/fugue/ps
/src/icies_tgv
/src/iciesa
/src/mech/*.serial
/src/mech/O
/src/mech/mecdrv.p*
/src/mech/mecsib.p*
/src/mech/mecupd.p*
/src/movement/*.grd
/src/movement/Makefile.am
/src/movement/O
/src/movement/mdrvbf.F
/src/movement/mdrvrm
/src/movement/mibseq
/src/movement/mmupdh
/src/movement/movement.h
/src/movement/mutests.h
/src/ostinato/Makefile.am
/src/ostinato/gcldef.h
/src/prelud/[OIL]
/src/prelud/pctest
/src/registro/O.*
/src/registro/[OIL]
/src/registro/libregistro-p0.a
/src/unison/Makefile.am
/src/unison/uarmpi1
/src/unison/uarmpi2
/src/unison/ueaoms
/src/unison/ueaoms1
/src/unison/ueaoms2
/src/unison/ueaoms3
/src/unison/ufortw1
/src/unison/ufortw2
/src/unison/usymch
/src/unison/utmplm
/src/unison/uuioms
/src/unison/uxhcal
/src/unison/uxunit1
/src/unison/uxunit2
/src/util/*.serial
/src/util/XXX[0-9][0-9][0-9][0-9][0-9]
/src/util/libutil-p*.a
/src/util/utlami.serial.test2
/src/util/utlcal.serial.test2
/src/util/utlffw.serial.test2
/src/util/utlxun.serial.test2
/var
